[15:11:57 WRN] No store type was specified for the decimal property 'NumMeasure' on entity type 'PromoProduct'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[15:11:57 WRN] No store type was specified for the decimal property 'PerceDiscount1' on entity type 'PromoProduct'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[15:11:57 WRN] No store type was specified for the decimal property 'PerceDiscount2' on entity type 'PromoProduct'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[15:11:57 WRN] No store type was specified for the decimal property 'QtyEstimated' on entity type 'PromoProduct'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
GO

CREATE TABLE [TB0042RELATIONS_CUST] (
    [CodHier] nvarchar(10) NOT NULL,
    [CodDiv] nvarchar(10) NOT NULL,
    [CodNode] nvarchar(30) NOT NULL,
    [IdLevel] int NOT NULL,
    [DteStart] datetime2 NOT NULL,
    [CodParentNode] nvarchar(30) NOT NULL,
    [DteEnd] datetime2 NULL,
    CONSTRAINT [PK_TB0042RELATIONS_CUST] PRIMARY KEY ([CodHier], [CodDiv], [CodNode], [IdLevel], [DteStart])
);
GO

CREATE TABLE [TA500PROMOACTION] (
    [ID_ACTION] int NOT NULL,
    [DESACTION] nvarchar(max) NOT NULL,
    [CODDIV] nvarchar(max) NOT NULL,
    [CODCONTRACTOR] nvarchar(max) NOT NULL,
    [DTESTARTSELLIN] datetime2 NOT NULL,
    [DTEENDSELLIN] datetime2 NOT NULL,
    [DTESTARTSELLOUT] datetime2 NOT NULL,
    [DTEENDSELLOUT] datetime2 NOT NULL,
    [DOCUMENTKEY] nvarchar(max) NULL,
    [DTETOSHOST] datetime2 NULL,
    [LEVPARTICIPANTS] int NULL,
    [ContractorCodHier] nvarchar(10) NULL,
    [ContractorCodDiv] nvarchar(10) NULL,
    [ContractorCodNode] nvarchar(30) NULL,
    [ContractorIdLevel] int NULL,
    [ContractorDteStart] datetime2 NULL,
    CONSTRAINT [PK_TA500PROMOACTION] PRIMARY KEY ([ID_ACTION]),
    CONSTRAINT [FK_TA500PROMOACTION_TB0042RELATIONS_CUST_ContractorCodHier_ContractorCodDiv_ContractorCodNode_ContractorIdLevel_ContractorDteSt~] FOREIGN KEY ([ContractorCodHier], [ContractorCodDiv], [ContractorCodNode], [ContractorIdLevel], [ContractorDteStart]) REFERENCES [TB0042RELATIONS_CUST] ([CodHier], [CodDiv], [CodNode], [IdLevel], [DteStart])
);
GO

CREATE TABLE [TA5012PARTICIPANTS] (
    [ID_ACTION] int NOT NULL,
    [CODPARTICIPANT] nvarchar(450) NOT NULL,
    [FLGINCLUSION] bit NOT NULL,
    [CodHier] nvarchar(10) NOT NULL,
    [CodDiv] nvarchar(10) NOT NULL,
    [CodNode] nvarchar(30) NOT NULL,
    [IdLevel] int NOT NULL,
    [DteStart] datetime2 NOT NULL,
    CONSTRAINT [PK_TA5012PARTICIPANTS] PRIMARY KEY ([ID_ACTION], [CODPARTICIPANT]),
    CONSTRAINT [FK_TA5012PARTICIPANTS_TA500PROMOACTION_ID_ACTION] FOREIGN KEY ([ID_ACTION]) REFERENCES [TA500PROMOACTION] ([ID_ACTION]) ON DELETE CASCADE,
    CONSTRAINT [FK_TA5012PARTICIPANTS_TB0042RELATIONS_CUST_CodHier_CodDiv_CodNode_IdLevel_DteStart] FOREIGN KEY ([CodHier], [CodDiv], [CodNode], [IdLevel], [DteStart]) REFERENCES [TB0042RELATIONS_CUST] ([CodHier], [CodDiv], [CodNode], [IdLevel], [DteStart]) ON DELETE CASCADE
);
GO

CREATE TABLE [TA5014DELIVERYPOINTS] (
    [ID_ACTION] int NOT NULL,
    [CODDELIVERYPOINT] nvarchar(50) NOT NULL,
    [FLGINCLUSION] bit NOT NULL,
    [CodHier] nvarchar(10) NOT NULL,
    [CodDiv] nvarchar(10) NOT NULL,
    [CodNode] nvarchar(30) NOT NULL,
    [IdLevel] int NOT NULL,
    [DteStart] datetime2 NOT NULL,
    CONSTRAINT [PK_TA5014DELIVERYPOINTS] PRIMARY KEY ([ID_ACTION], [CODDELIVERYPOINT]),
    CONSTRAINT [FK_TA5014DELIVERYPOINTS_TA500PROMOACTION_ID_ACTION] FOREIGN KEY ([ID_ACTION]) REFERENCES [TA500PROMOACTION] ([ID_ACTION]) ON DELETE CASCADE,
    CONSTRAINT [FK_TA5014DELIVERYPOINTS_TB0042RELATIONS_CUST_CodHier_CodDiv_CodNode_IdLevel_DteStart] FOREIGN KEY ([CodHier], [CodDiv], [CodNode], [IdLevel], [DteStart]) REFERENCES [TB0042RELATIONS_CUST] ([CodHier], [CodDiv], [CodNode], [IdLevel], [DteStart]) ON DELETE CASCADE
);
GO

CREATE TABLE [TA5020PRODUCTS] (
    [IdAction] int NOT NULL,
    [CodProduct] nvarchar(50) NOT NULL,
    [LevProduct] int NOT NULL,
    [CodDisplay] nvarchar(50) NOT NULL,
    [CodDiv] nvarchar(20) NOT NULL,
    [QtyEstimated] decimal(18,2) NOT NULL,
    [PerceDiscount1] decimal(18,2) NULL,
    [PerceDiscount2] decimal(18,2) NULL,
    [NumMeasure] decimal(18,2) NULL,
    [CodMeasure] nvarchar(20) NULL,
    CONSTRAINT [PK_TA5020PRODUCTS] PRIMARY KEY ([IdAction], [CodProduct], [LevProduct], [CodDisplay]),
    CONSTRAINT [FK_TA5020PRODUCTS_TA500PROMOACTION_IdAction] FOREIGN KEY ([IdAction]) REFERENCES [TA500PROMOACTION] ([ID_ACTION]) ON DELETE CASCADE
);
GO

CREATE TABLE [TA5026PRODUCTDETAILS] (
    [IdAction] int NOT NULL,
    [CodProduct] nvarchar(50) NOT NULL,
    [LevProduct] int NOT NULL,
    [CodDisplay] nvarchar(50) NOT NULL,
    [CodNode] nvarchar(50) NOT NULL,
    [CodDiv] nvarchar(50) NOT NULL,
    [FlgInclusion] bit NOT NULL,
    CONSTRAINT [PK_TA5026PRODUCTDETAILS] PRIMARY KEY ([IdAction], [CodProduct], [LevProduct], [CodDisplay], [CodNode], [CodDiv]),
    CONSTRAINT [FK_TA5026PRODUCTDETAILS_TA5020PRODUCTS_IdAction_CodProduct_LevProduct_CodDisplay] FOREIGN KEY ([IdAction], [CodProduct], [LevProduct], [CodDisplay]) REFERENCES [TA5020PRODUCTS] ([IdAction], [CodProduct], [LevProduct], [CodDisplay]) ON DELETE CASCADE
);
GO

CREATE TABLE [TA5118PROMOMEASUREFIELDS] (
    [IdAction] int NOT NULL,
    [CodProduct] nvarchar(50) NOT NULL,
    [LevProduct] int NOT NULL,
    [CodDisplay] nvarchar(50) NOT NULL,
    [CODDIV] nvarchar(20) NOT NULL,
    [CODMEASURE] nvarchar(50) NOT NULL,
    [FIELDNAME] nvarchar(100) NOT NULL,
    [FORMULA] nvarchar(500) NOT NULL,
    CONSTRAINT [PK_TA5118PROMOMEASUREFIELDS] PRIMARY KEY ([IdAction], [CodProduct], [LevProduct], [CodDisplay], [CODDIV], [CODMEASURE], [FIELDNAME]),
    CONSTRAINT [FK_TA5118PROMOMEASUREFIELDS_TA5020PRODUCTS_IdAction_CodProduct_LevProduct_CodDisplay] FOREIGN KEY ([IdAction], [CodProduct], [LevProduct], [CodDisplay]) REFERENCES [TA5020PRODUCTS] ([IdAction], [CodProduct], [LevProduct], [CodDisplay]) ON DELETE CASCADE
);
GO

CREATE TABLE [TA5150PROMOARTICLE] (
    [IdAction] int NOT NULL,
    [CodProduct] nvarchar(50) NOT NULL,
    [LevProduct] int NOT NULL,
    [CodDisplay] nvarchar(50) NOT NULL,
    [CODDIV] nvarchar(50) NOT NULL,
    [CODNODE] nvarchar(50) NOT NULL,
    [CODNODE1] nvarchar(50) NULL,
    [CODNODE2] nvarchar(50) NULL,
    [CODNODE_N] nvarchar(50) NULL,
    CONSTRAINT [PK_TA5150PROMOARTICLE] PRIMARY KEY ([IdAction], [CodProduct], [LevProduct], [CodDisplay], [CODDIV], [CODNODE]),
    CONSTRAINT [FK_TA5150PROMOARTICLE_TA5026PRODUCTDETAILS_IdAction_CodProduct_LevProduct_CodDisplay_CODNODE_CODDIV] FOREIGN KEY ([IdAction], [CodProduct], [LevProduct], [CodDisplay], [CODNODE], [CODDIV]) REFERENCES [TA5026PRODUCTDETAILS] ([IdAction], [CodProduct], [LevProduct], [CodDisplay], [CodNode], [CodDiv]) ON DELETE CASCADE
);
GO

CREATE INDEX [IX_TA500PROMOACTION_ContractorCodHier_ContractorCodDiv_ContractorCodNode_ContractorIdLevel_ContractorDteStart] ON [TA500PROMOACTION] ([ContractorCodHier], [ContractorCodDiv], [ContractorCodNode], [ContractorIdLevel], [ContractorDteStart]);
GO

CREATE INDEX [IX_TA5012PARTICIPANTS_CodHier_CodDiv_CodNode_IdLevel_DteStart] ON [TA5012PARTICIPANTS] ([CodHier], [CodDiv], [CodNode], [IdLevel], [DteStart]);
GO

CREATE INDEX [IX_TA5014DELIVERYPOINTS_CodHier_CodDiv_CodNode_IdLevel_DteStart] ON [TA5014DELIVERYPOINTS] ([CodHier], [CodDiv], [CodNode], [IdLevel], [DteStart]);
GO

CREATE INDEX [IX_TA5014DELIVERYPOINTS_ID_ACTION] ON [TA5014DELIVERYPOINTS] ([ID_ACTION]);
GO

CREATE INDEX [IX_TA5150PROMOARTICLE_IdAction_CodProduct_LevProduct_CodDisplay_CODNODE_CODDIV] ON [TA5150PROMOARTICLE] ([IdAction], [CodProduct], [LevProduct], [CodDisplay], [CODNODE], [CODDIV]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260105111629_InitialCreate', N'8.0.0');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [FK_TA500PROMOACTION_TB0042RELATIONS_CUST_ContractorCodHier_ContractorCodDiv_ContractorCodNode_ContractorIdLevel_ContractorDteSt~];
GO

DROP INDEX [IX_TA500PROMOACTION_ContractorCodHier_ContractorCodDiv_ContractorCodNode_ContractorIdLevel_ContractorDteStart] ON [TA500PROMOACTION];
GO

DECLARE @var0 sysname;
SELECT @var0 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'ContractorCodDiv');
IF @var0 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var0 + '];');
ALTER TABLE [TA500PROMOACTION] DROP COLUMN [ContractorCodDiv];
GO

DECLARE @var1 sysname;
SELECT @var1 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'ContractorCodNode');
IF @var1 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var1 + '];');
ALTER TABLE [TA500PROMOACTION] DROP COLUMN [ContractorCodNode];
GO

EXEC sp_rename N'[TA500PROMOACTION].[ContractorIdLevel]', N'CONTRACTORIDLEVEL', N'COLUMN';
GO

EXEC sp_rename N'[TA500PROMOACTION].[ContractorDteStart]', N'CONTRACTORDTESTART', N'COLUMN';
GO

EXEC sp_rename N'[TA500PROMOACTION].[ContractorCodHier]', N'CONTRACTORCODHIER', N'COLUMN';
GO

DECLARE @var2 sysname;
SELECT @var2 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'CODDIV');
IF @var2 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var2 + '];');
ALTER TABLE [TA500PROMOACTION] ALTER COLUMN [CODDIV] nvarchar(10) NOT NULL;
GO

DECLARE @var3 sysname;
SELECT @var3 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'CODCONTRACTOR');
IF @var3 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var3 + '];');
ALTER TABLE [TA500PROMOACTION] ALTER COLUMN [CODCONTRACTOR] nvarchar(30) NOT NULL;
GO

CREATE INDEX [IX_TA500PROMOACTION_CONTRACTORCODHIER_CODDIV_CODCONTRACTOR_CONTRACTORIDLEVEL_CONTRACTORDTESTART] ON [TA500PROMOACTION] ([CONTRACTORCODHIER], [CODDIV], [CODCONTRACTOR], [CONTRACTORIDLEVEL], [CONTRACTORDTESTART]);
GO

ALTER TABLE [TA500PROMOACTION] ADD CONSTRAINT [FK_TA500PROMOACTION_TB0042RELATIONS_CUST_CONTRACTORCODHIER_CODDIV_CODCONTRACTOR_CONTRACTORIDLEVEL_CONTRACTORDTESTART] FOREIGN KEY ([CONTRACTORCODHIER], [CODDIV], [CODCONTRACTOR], [CONTRACTORIDLEVEL], [CONTRACTORDTESTART]) REFERENCES [TB0042RELATIONS_CUST] ([CodHier], [CodDiv], [CodNode], [IdLevel], [DteStart]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260106062019_AddContractorFKsToPromoAction', N'8.0.0');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [FK_TA500PROMOACTION_TB0042RELATIONS_CUST_CONTRACTORCODHIER_CODDIV_CODCONTRACTOR_CONTRACTORIDLEVEL_CONTRACTORDTESTART];
GO

DROP INDEX [IX_TA500PROMOACTION_CONTRACTORCODHIER_CODDIV_CODCONTRACTOR_CONTRACTORIDLEVEL_CONTRACTORDTESTART] ON [TA500PROMOACTION];
GO

DECLARE @var4 sysname;
SELECT @var4 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'CONTRACTORCODHIER');
IF @var4 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var4 + '];');
ALTER TABLE [TA500PROMOACTION] DROP COLUMN [CONTRACTORCODHIER];
GO

DECLARE @var5 sysname;
SELECT @var5 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'CONTRACTORDTESTART');
IF @var5 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var5 + '];');
ALTER TABLE [TA500PROMOACTION] DROP COLUMN [CONTRACTORDTESTART];
GO

DECLARE @var6 sysname;
SELECT @var6 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'CONTRACTORIDLEVEL');
IF @var6 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var6 + '];');
ALTER TABLE [TA500PROMOACTION] DROP COLUMN [CONTRACTORIDLEVEL];
GO

ALTER TABLE [TB0042RELATIONS_CUST] ADD [ID_ACTION] int NOT NULL DEFAULT 0;
GO

DECLARE @var7 sysname;
SELECT @var7 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'CODDIV');
IF @var7 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var7 + '];');
ALTER TABLE [TA500PROMOACTION] ALTER COLUMN [CODDIV] nvarchar(max) NOT NULL;
GO

DECLARE @var8 sysname;
SELECT @var8 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'CODCONTRACTOR');
IF @var8 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var8 + '];');
ALTER TABLE [TA500PROMOACTION] ALTER COLUMN [CODCONTRACTOR] nvarchar(max) NOT NULL;
GO

CREATE INDEX [IX_TB0042RELATIONS_CUST_ID_ACTION] ON [TB0042RELATIONS_CUST] ([ID_ACTION]);
GO

ALTER TABLE [TB0042RELATIONS_CUST] ADD CONSTRAINT [FK_TB0042RELATIONS_CUST_TA500PROMOACTION_ID_ACTION] FOREIGN KEY ([ID_ACTION]) REFERENCES [TA500PROMOACTION] ([ID_ACTION]) ON DELETE CASCADE;
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260106110925_InvertActionCustomerRelation', N'8.0.0');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

ALTER TABLE [TB0042RELATIONS_CUST] DROP CONSTRAINT [FK_TB0042RELATIONS_CUST_TA500PROMOACTION_ID_ACTION];
GO

DROP INDEX [IX_TB0042RELATIONS_CUST_ID_ACTION] ON [TB0042RELATIONS_CUST];
GO

DECLARE @var9 sysname;
SELECT @var9 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TB0042RELATIONS_CUST]') AND [c].[name] = N'ID_ACTION');
IF @var9 IS NOT NULL EXEC(N'ALTER TABLE [TB0042RELATIONS_CUST] DROP CONSTRAINT [' + @var9 + '];');
ALTER TABLE [TB0042RELATIONS_CUST] DROP COLUMN [ID_ACTION];
GO

DECLARE @var10 sysname;
SELECT @var10 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'CODDIV');
IF @var10 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var10 + '];');
ALTER TABLE [TA500PROMOACTION] ALTER COLUMN [CODDIV] nvarchar(10) NOT NULL;
GO

DECLARE @var11 sysname;
SELECT @var11 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'CODCONTRACTOR');
IF @var11 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var11 + '];');
ALTER TABLE [TA500PROMOACTION] ALTER COLUMN [CODCONTRACTOR] nvarchar(30) NOT NULL;
GO

ALTER TABLE [TA500PROMOACTION] ADD [CONTRACTORCODHIER] nvarchar(10) NULL;
GO

ALTER TABLE [TA500PROMOACTION] ADD [CONTRACTORDTESTART] datetime2 NULL;
GO

ALTER TABLE [TA500PROMOACTION] ADD [CONTRACTORIDLEVEL] int NULL;
GO

CREATE INDEX [IX_TA500PROMOACTION_CONTRACTORCODHIER_CODDIV_CODCONTRACTOR_CONTRACTORIDLEVEL_CONTRACTORDTESTART] ON [TA500PROMOACTION] ([CONTRACTORCODHIER], [CODDIV], [CODCONTRACTOR], [CONTRACTORIDLEVEL], [CONTRACTORDTESTART]);
GO

ALTER TABLE [TA500PROMOACTION] ADD CONSTRAINT [FK_TA500PROMOACTION_TB0042RELATIONS_CUST_CONTRACTORCODHIER_CODDIV_CODCONTRACTOR_CONTRACTORIDLEVEL_CONTRACTORDTESTART] FOREIGN KEY ([CONTRACTORCODHIER], [CODDIV], [CODCONTRACTOR], [CONTRACTORIDLEVEL], [CONTRACTORDTESTART]) REFERENCES [TB0042RELATIONS_CUST] ([CodHier], [CodDiv], [CodNode], [IdLevel], [DteStart]);
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

DECLARE @var12 sysname;
SELECT @var12 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA5020PRODUCTS]') AND [c].[name] = N'CodDiv');
IF @var12 IS NOT NULL EXEC(N'ALTER TABLE [TA5020PRODUCTS] DROP CONSTRAINT [' + @var12 + '];');
ALTER TABLE [TA5020PRODUCTS] ALTER COLUMN [CodDiv] nvarchar(50) NOT NULL;
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [FK_TA500PROMOACTION_TB0042RELATIONS_CUST_CONTRACTORCODHIER_CODDIV_CODCONTRACTOR_CONTRACTORIDLEVEL_CONTRACTORDTESTART];
GO

DROP INDEX [IX_TA500PROMOACTION_CONTRACTORCODHIER_CODDIV_CODCONTRACTOR_CONTRACTORIDLEVEL_CONTRACTORDTESTART] ON [TA500PROMOACTION];
GO

DECLARE @var13 sysname;
SELECT @var13 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'CONTRACTORCODHIER');
IF @var13 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var13 + '];');
ALTER TABLE [TA500PROMOACTION] DROP COLUMN [CONTRACTORCODHIER];
GO

DECLARE @var14 sysname;
SELECT @var14 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'CONTRACTORDTESTART');
IF @var14 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var14 + '];');
ALTER TABLE [TA500PROMOACTION] DROP COLUMN [CONTRACTORDTESTART];
GO

DECLARE @var15 sysname;
SELECT @var15 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'CONTRACTORIDLEVEL');
IF @var15 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var15 + '];');
ALTER TABLE [TA500PROMOACTION] DROP COLUMN [CONTRACTORIDLEVEL];
GO

DECLARE @var16 sysname;
SELECT @var16 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'CODDIV');
IF @var16 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var16 + '];');
ALTER TABLE [TA500PROMOACTION] ALTER COLUMN [CODDIV] nvarchar(max) NOT NULL;
GO

DECLARE @var17 sysname;
SELECT @var17 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'CODCONTRACTOR');
IF @var17 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var17 + '];');
ALTER TABLE [TA500PROMOACTION] ALTER COLUMN [CODCONTRACTOR] nvarchar(max) NOT NULL;
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

DECLARE @var18 sysname;
SELECT @var18 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TA500PROMOACTION]') AND [c].[name] = N'CODCONTRACTOR');
IF @var18 IS NOT NULL EXEC(N'ALTER TABLE [TA500PROMOACTION] DROP CONSTRAINT [' + @var18 + '];');
ALTER TABLE [TA500PROMOACTION] DROP COLUMN [CODCONTRACTOR];
GO


COMMIT;
GO


